@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.headline {
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: #1F6E8C;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.custom-select {}

#display_info {
    background-color: #ffffff;
    color: #0e0505;
    font-size: 16px;
    border: 3px solid #191818;
    width: 250px;
    margin-left: 5%;
    margin-top: 3vh;
    margin-bottom: 2px;
    padding: 5px;
}

#map {
display: block;
    width: 90%;
    height: 55vh;
    left: 5%;
    border: 1px solid #191818;
    /*max-height: 50vh;
    max-width: 190vh; */
}

@media only screen and (max-width: 400px) {
    .headline {
        font-size: 20px;
    }
    #display_info {
        font-size: 14px;
        width: 200px;
    }
}

@media only screen and (max-width: 700px) {
    .headline {
        font-size: 25px;
    }
    #display_info {
        font-size: 15px;
        width: 250px;
    }
    #map{
        height: 50vh;
    }
}

.index {
    position: absolute;
    text-decoration: none;
    top: 75%;
    left: 6%;
    display: block;
}

.index1 {
    position: absolute;
    text-decoration: none;
    top: 75%;
    left: 6%;
    display: block;
}

.index2 {
    position: absolute;
    text-decoration: none;
    top: 75%;
    left: 6%;
    display: block;
}

.index ul li {
    /* text-decoration: none; */
}

.very-low,
.low,
.medium,
.high {
    display: flex;
    padding-top: 2px;
}

#circle1,
#circle2,
#circle3,
#circle4,
#circle_high,
#circle_low {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
}

#circle1 {
    background: #4782ba;
}

#circle2 {
    background: #2255a1;
}

#circle3 {
    background: #1b3b8f;
}

#circle4 {
    background: #04096b;
}

#circle_high {
    background-color: #2e4595;
}

#circle_low {
    background-color: #84a4c4;
}